body {
    font-family: "Source Code Pro", monospace;
}

h1 {
    font-weight: 500;
    margin-bottom: 0;

}

.parent {
    display: flex;
    justify-content: center;

}

.container {

    width: fit-content
}

.topBar {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}

.topMenu {

    margin-right: 0.8rem;


}

.topMenu .icon {
    color: blue;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 0.2rem;

}

table {

    border: 2px solid lightgray;
    text-align: left;
    border-collapse: collapse;

}

table tr:hover {
    background-color: aliceblue;
    cursor: pointer;
}

table th {
    font-weight: 400;
    vertical-align: top;
    padding: 0.8rem;

}

table td {
    padding: 0.4rem 0.8rem;
}

/* border in first row */
table tr:first-child {

    border: 2px solid lightgray;
    background-color: aliceblue;
}

/* border in first column */
table th:nth-child(3),
td:nth-child(3) {
    border-right: 2px solid lightgray;
}

table tr:last-of-type td {
    padding-bottom: 4rem;
    border: none;


}

table tr:last-of-type:hover {
    background-color: white;


}


table tr:last-of-type td:nth-child(3) {
    padding-bottom: 4rem;
    border-right: 2px solid lightgray;

}

table td:nth-child(5),
td:nth-child(6),
td:last-child {
    padding: 0 0 0.1rem 0.1rem;
}

/* making units lighter */
.units {
    display: block;
    color: rgb(181, 181, 181);
    font-weight: 400;
    margin-top: 1rem;
}

/* break between words in column heading */
.packSize span {
    display: block;
}

.box {
    border: 2px solid lightgray;
    padding: 0.6rem;
    margin: 0;
    text-align: right;
}

.selected {

    background-color: aliceblue;
}

.edit {

    font-size: 1.2rem;
    cursor: pointer;
    color: gray;
}